<!-- <p>using-canvas not works!</p> -->

<!-- <div>
    <div  id="myBoard"></div> -->
    <div>
    <canvas width="900" height="900"  #canvas (click)="draw($event)"  style="margin:0;padding:0;  border: rgb(216, 216, 216)" id="imgCanvas"
class="canvasView"></canvas>    
    </div>

<!-- </div> -->
<!-- <canvas #canvas width="600" height="300"></canvas> -->

<!-- <button (click)="animate()">Play</button>
<div style="background-image: url('./assets/icon/Color.png');direction: rtl;height: 100vh;">
    <h1>the product is</h1> --> 
<!-- <h1 [(ngModel)]="canvasInputProduct.Code"> </h1> -->
<mat-icon>
    
</mat-icon>