
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar"> 
    <div class="container"><a class="navbar-brand logo" href="#">Brand</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button> 
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active"  routerLink="AddShop">הוסף חנות</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="ListShop"> הסתכל בחנויות היפות</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link"  routerLink="ListProduct">קבל מוצרים יקרים</a> </li>
                <li class="nav-item" role="presentation"><a class="nav-link"  routerLink="ToDelete">קישקושים</a> </li>
                <li class="nav-item" role="presentation"><a class="nav-link"  routerLink="AddProduct">הוסף מוצר</a> </li> 
                <li class="nav-item" role="presentation"><a class="nav-link"  routerLink="viewShop">לראות את החנות</a> </li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="Login">התחבר </a>  </li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="home">התחל </a>  </li>
                
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="customer">שירות לקוח </a>  </li>
                <li class="nav-item" role="presentation"><a class="nav-link" routerLink="usingCanvas">קנווס חנות </a>  </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="buildShop">בניית חנות </a>  </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="ProductToShop">מוצרי חנות </a>  </li>
                    
                    

            </ul>
        </div>
    </div>
</nav>

<a routerLink="AddShop">הוסף חנות </a>
<a routerLink="ListShop"> רשימת חנויות </a>
<a routerLink="ListProduct">רשימת מוצרים </a>
<a routerLink="ToDelete">קישקושים</a>
 <a routerLink="AddProduct">הוסף מוצר</a>

<a routerLink="Login">התחבר </a>
<a routerLink="home">התחל </a>
<a routerLink="viewShop">לראות את החנות</a>
<a routerLink="customer">שירות לקוח </a>
<a routerLink="usingCanvas">קנווס חנות </a>
<a routerLink="buildShop">בניית חנות </a>
<a routerLink="ProductToShop">מוצרים לחנות </a>


 <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<router-outlet></router-outlet>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


